@model mvcproj.View_Models.BookingViewModel

@{
    ViewData["Title"] = "Booking Details";
	Layout = "_RoomsLayout";
}
<form asp-action="SaveAdd" method="post" enctype="multipart/form-data">

    <div class="container mt-5">
        <div class="card shadow-lg rounded-4 border-0">
            <div class="card-header bg-info text-white rounded-top-4">
                 <h3 class="mb-0" style="background-color">Confirm Your Booking</h3> 
            </div>
            <div class="card-body">
                <div class="row g-4">
                    <div class="col-md-6">
                      
                        <input type="hidden" class="form-control" value="@Model.RoomNumber" asp-for="@Model.RoomNumber" readonly />
                    </div>

                    <div class="col-md-6">
        
                        <input type="hidden" class="form-control" value="@Model.RoomTypeId" readonly asp-for="@Model.RoomTypeId" />
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-semibold" asp-for="@Model.RoomType.Name">Room Type</label>
                        <input class="form-control" value="@Model.RoomType?.Name" readonly asp-for="@Model.RoomType.Name" />
                    </div>

                    @*   <div class="col-12">
                    <label class="form-label fw-semibold">Description</label>
                    <textarea class="form-control" readonly rows="2">@Model.RoomType?.Description</textarea>
                </div> *@

                    <div class="col-md-4">
                        <label class="form-label fw-semibold" asp-for="@Model.RoomType.Capacity">Capacity</label>
                        <input class="form-control" value="@Model.RoomType?.Capacity" asp-for="@Model.RoomType.Capacity" readonly />
                    </div>

                    <div class="col-md-4">
                        <label class="form-label fw-semibold" asp-for="@Model.PricePerNight">Price per Night</label>
                        <input class="form-control" value="@Model.RoomType?.PricePerNight" asp-for="@Model.PricePerNight" readonly />
                    </div>

                
                
                    <div class="col-md-6">
                        <label class="form-label fw-semibold" asp-for="@Model.CheckinDate">Check-in Date</label>
                        <input  class="form-control" type="date" value="@Model.CheckinDate" asp-for="@Model.CheckinDate" required />

                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-semibold" asp-for="@Model.CheckoutDate">Check-out Date</label>
                        <input class="form-control" type="date" value="@Model.CheckoutDate" asp-for="@Model.CheckoutDate" required />

                    </div>
                </div>

                <div class="mt-4 text-end">
                    <a class="btn btn-info me-2" asp-action="details" asp-controller="Booking" asp-route-id="@Model.BookingID">Back</a>
                    <button class="btn btn-success" type="submit" @* asp-controller="Booking" asp-action="SaveAdd" asp-route-roomId="@Model.RoomNumber" asp-route-checkIn="@Model.CheckinDate" asp-route-checkOut="@Model.CheckoutDate" *@>Confirm Booking</button>
                </div>
            </div>
        </div>
    </div>
</form>

<br />
<br />

