@model IEnumerable<BookingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckoutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var booking in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => booking.Guest)</td>
                <td>@Html.DisplayFor(modelItem => booking.CheckinDate)</td>
                <td>@Html.DisplayFor(modelItem => booking.CheckoutDate)</td>
                <td>@Html.DisplayFor(modelItem => booking.TotalPrice)</td>
                <td>@Html.DisplayFor(modelItem => booking.Room)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@booking.BookingID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@booking.BookingID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@booking.BookingID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
