@model BookingViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckoutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Guest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.CheckinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.CheckoutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Room)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="Model.BookingID">Edit</a> |
                <a asp-action="Details" asp-route-id="Model.BookingID">Details</a> |
                <a asp-action="Delete" asp-route-id="Model.BookingID">Delete</a>
            </td>
        </tr>

    </tbody>
</table>
